{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update User Profile here</h1>
            <p class="lead fw-normal text-white-50 mb-0"></p>
        </div>
    </div>
</header>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                {% if messages %}
                    <div class="alert alert-info">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        {{ form.username.label_tag }}
                        <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" value="{{ form.username.value|default_if_none:'' }}" />
                    </div>
                    <div class="form-group mb-3">
                        {{ form.email.label_tag }}
                        <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" value="{{ form.email.value|default_if_none:'' }}" />
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group mb-3">
                        {{ form.password.label_tag }}
                        <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" />
                    </div>
                    <button type="submit" class="btn btn-primary">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
